
<img src="assets/img/user.svg" class="chirp-profile-pic" height="32px">
<div class="chirp-main">
	<div class="chirp-header">
	<span class="chirp-profile-name">{{chirp.author.profileName}}</span>
	<span class="chirp-username">@{{chirp.author.username}}</span>
	<span class="chirp-elapsed-time">4h ago</span>
	</div>
	<p class="chirp-body" [innerHTML]="body">
	
	</p>
	<div class="chirp-options">
	<button class="chirp-option chirp-option-comment">
		<div class="chirp-option-icon"></div>
		<span class="chirp-option-text" *ngIf="chirp.replies.length > 0">{{chirp.replies.length}}</span>
	</button>
	<button class="chirp-option chirp-option-like">
		<div class="chirp-option-icon"></div>
		<span class="chirp-option-text"*ngIf="chirp.likes.length > 0">{{chirp.likes.length}}</span>
	</button>
	</div>
</div>
