<div 
	class="chirp-container" 
	*ngIf="chirp != undefined && chirp != null"
	[ngClass]="{
		'chirp-reply': showAsReply
	}"
>
	<div 
		class="chirp-side"
	>
		<img 
			src="assets/img/user.svg" 
			class="chirp-profile-pic" 
			height="32px"
			(click)="viewUser($event)"
		>
		<div class="chirp-reply-border" *ngIf="showAsReply"></div>
	</div>
	<div 
		class="chirp-main"
		[ngClass]="{
			'chirp-liked': loggedUserLiked
		}"
	>
		<div class="chirp-header">
			<div class="chirp-profile">
				<span 
					class="chirp-reply-text" 
					*ngIf="chirp.replyOf != null && chirp.replyOf.author != null"
					(click)="viewReply($event)"
				>Replying to {{chirp.replyOf.author.username}}</span>
				<span 
					class="chirp-profile-name"
					(click)="viewUser($event)"
				>{{chirp.author.profileName}}</span>
				<span 
					class="chirp-username"
					(click)="viewUser($event)"
				>@{{chirp.author.username}}</span>
			</div>
			<span class="chirp-elapsed-time">{{elapsedDisplay}} ago</span>
		</div>
		<p class="chirp-body" [innerHTML]="chirp.bodyHTML">
		
		</p>
		<div class="chirp-options">
		<button 
			class="chirp-option chirp-option-comment"
			(click)="replyChirp($event)"
		>
			<div class="chirp-option-icon"></div>
			<span class="chirp-option-text" *ngIf="chirp.replies.length > 0">{{chirp.replies.length}}</span>
		</button>
		<button 
			class="chirp-option chirp-option-like"
			(click)="likeChirp($event)"
			[disabled]="waitLike"
		>
			<div class="chirp-option-icon"></div>
			<span class="chirp-option-text"*ngIf="chirp.likes.length > 0">{{chirp.likes.length}}</span>
		</button>
		</div>
	</div>
</div>
