<div class="tab-top">
	<button class="back-button" (click)="goBack()">
		<div class="back-button-icon"></div>
	</button>
	<div class="tab-icon"></div>
	<span class="tab-title">User profile</span>
</div>
<div class="tab-body" id="home-chirps">
	<div id="loading-user" *ngIf="waitLoadUser">
		<span id="loading-title">Loading User</span>
		<div class="loading-spinner"></div>
	</div>
	<div id="profile-scroll" *ngIf="!waitLoadUser">
		<div id="profile-banner">
			<img src="assets/img/banner.png" alt="User's banner">
		</div>
		<div id="profile-header">
			<div id="profile-info">
				<div id="profile-info-top">
					<div id="profile-img">
						<img src="assets/img/user.png" alt="User's profile picture">
					</div>
					<div id="profile-buttons">
						<button 
							class="user-follow"
							(click)="follow()"
						>
							{{
								loggedUserFollows ? "Unfollow" : "Follow"
							}}
						</button>
					</div>
				</div>
				<span id="profile-name">{{user.profileName}}</span>
				<span id="profile-username">@{{user.username}}</span>
			</div>
		</div>
		<p id="profile-bio">{{user.bio}}</p>
		<span id="profile-followers">{{user.followers.length}} Followers</span>
		<span id="profile-chirps-title">Chirps</span>
		<div id="chirps-container">
			<chirp 
				*ngFor="let chirp of user.chirps" 
				[chirp]="chirp"
				(click)="viewChirp(chirp.chirpId)"
			></chirp>
		</div>
	</div>
</div>
