:host {
	flex: 1;
	flex-direction: column;
	align-items: stretch;

	background-color: var(--tab-background-color);
	border-radius: 8px;
	padding-bottom: 8px;
	position: relative;

	.tab-top {
		padding: 8px;
		background-color: var(--tab-top-background-color);
		border-radius: 8px;
		margin-bottom: 8px;
		align-items: center;

		.back-button {
			background: none;
			border: none;
			padding: 0;
			margin-right: 16px;
			.back-button-icon {
				width: 16px;
				height: 16px;
				mask-image: url("/assets/img/back.svg");
				mask-size: cover;
				background-color: var(--back-button-color);
			}
		}

		.tab-icon {
			width: 16px;
			height: 16px;
			mask-image: url("/assets/img/newChirp.svg");
			mask-size: cover;
			background-color: var(--tab-icon-color);
		}

		.tab-title {
			color: var(--tab-title-color);
			font-weight: 700;
			font-size: 16px;
			vertical-align: text-bottom;
			line-height: 19px;
			margin-left: 8px;
		}
	}

	.tab-body {
		padding: 0 8px;
		flex-direction: column;
		.reply-form {
			.chirp-info {
				margin-left: 8px;
				flex-direction: column;
				flex: 1;
				align-items: stretch;
				overflow: hidden;
				text-overflow: ellipsis;
				.chirp-body {
					background: none;
					border: none;
					resize: none;
					color: var(--create-chirp-body-color);
					font-size: 14px;
					font-weight: 500;
					outline: none;
					border-bottom: 1px solid var(--create-chirp-body-border-color);
					padding-bottom: 8px;
					margin-bottom: 16px;
				}
				.chirp-button {
					align-self: flex-start;
					font-size: 16px;
					font-weight: 700;
					border: none;
					padding: 4px 8px;
					background-color: var(--create-chirp-send-background-color);
					color: var(--create-chirp-send-color);
					border-radius: 8px;
					&:disabled {
						opacity: 0.5;
					}
				}
			}
		}
	}
}

