<div class="tab-top">
	<button class="back-button">
		<div class="back-button-icon"></div>
	</button>
	<div class="tab-icon"></div>
	<span class="tab-title">Change password</span>
</div>
<div class="tab-body">
	<form [formGroup]="userForm" (submit)="save()" id="edit-form">
		<div 
			class="input-container"
			[ngClass]="{
				'invalid': userForm.get('password').invalid && userForm.get('password').dirty
			}"
		>
			<label class="input-label" for="user-password">Password</label>
			<input 
				class="input-field" 
				type="password" 
				formControlName="password"
				name="user-password" 
				id="user-password" 
				placeholder="Remember your password!"
			/>
			<div 
				class="input-errors" 
				*ngIf="userForm.get('password').invalid"
			>
				<span 
					class="input-error" 
					*ngIf="userForm.get('password').hasError('required')"
				>This field is required</span>
			</div>
		</div>
		<div 
			class="input-container"
			[ngClass]="{
				'invalid': userForm.get('confirmPassword').invalid && userForm.get('confirmPassword').dirty
			}"
		>
			<label class="input-label" for="user-password-confirm">Confirm password</label>
			<input 
				class="input-field" 
				type="password" 
				formControlName="confirmPassword"
				name="user-password-confirm" 
				id="user-password-confirm" 
				placeholder="Confirm the same password you used above"
			/>
			<div 
				class="input-errors" 
				*ngIf="userForm.get('confirmPassword').invalid"
			>
				<span 
					class="input-error" 
					*ngIf="userForm.get('confirmPassword').hasError('required')"
				>This field is required</span>
				<span 
					class="input-error" 
					*ngIf="userForm.get('confirmPassword').hasError('notMatch')"
				>Passwords doesn't match!</span>
			</div>
		</div>
		<!-- <button class="signup-send" (click)="signup()" [disabled]="body.length == 0"> -->
		<div class="form-buttons">
			<button class="edit-send" type="submit" [disabled]="!userForm.valid || waitChange">
				Save
			</button>
		</div>
	</form>
</div>