#chirper-app {
	flex: 1;
	flex-direction: column;

	background-color: var(--app-background-color);

	padding: 8px;

	align-items: stretch;
	flex-wrap: nowrap;

	#tabs {
		flex: 1;
		flex-direction: column;

		align-items: stretch;

		margin-bottom: 8px;
	}

	#navbar {
		background-color: var(--navbar-background-color);
		border-radius: 8px;
		padding: 8px 24px;
		justify-content: space-between;

		.navbar-button {
			background: none;
			border: none;
			padding: 0;
			width: 32px;
			height: 32px;

			background-color: var(--navbar-button-color);
			mask-size: cover;

			&.nav-active {
				background-color: var(--navbar-button-active-color);
			}

			&:not(.nav-active) {
				transform: scale(95%);
			}

			&#navbar-button-home {
				mask-image: url("/assets/img/home.svg");
			}

			&#navbar-button-search {
				mask-image: url("/assets/img/search.svg");
			}

			&#navbar-button-notification {
				mask-image: url("/assets/img/notification.svg");
			}

			&#navbar-button-user {
				mask-image: url("/assets/img/user.svg");
			}
		}
	}

	#authenticate {
		background-color: var(--navbar-background-color);
		border-radius: 8px;
		padding: 8px 24px;
		margin-top: 8px;

		.authenticate-button {
			flex: 1;
			font-size: 20px;
			font-weight: 700;
			border: none;
			padding: 4px 8px;
			background-color: var(--create-chirp-send-background-color);
			color: var(--create-chirp-send-color);
			border-radius: 8px;
			display: block;
			text-align: center;
			text-decoration: none;
			&:disabled {
				opacity: 0.5;
			}
			&:not(:last-child) {
				margin-right: 32px;
			}
		}
	}
}