<div id="loading" *ngIf="waitAutoLogin">
  <span id="loading-title">Loading Chirper</span>
  <div class="loading-spinner"></div>
</div>
<div id="chirper-app" *ngIf="!waitAutoLogin">
  <div id="tabs">
    <router-outlet></router-outlet>
  </div>
  <div id="navbar">
    <button 
      class="navbar-button" 
      id="navbar-button-home" 
      (click)="navigateTo('/home')"
      [ngClass]="{
        'nav-active': currentRoute.startsWith('/home')
      }"
    >
    </button>
    <button 
      class="navbar-button" 
      id="navbar-button-search" 
      (click)="navigateTo('/search')"
      [ngClass]="{
        'nav-active': currentRoute.startsWith('/search')
      }"
    >
    </button>
    <button 
      class="navbar-button" 
      id="navbar-button-user" 
      (click)="navigateTo('/profile')"
      [ngClass]="{
        'nav-active': currentRoute.startsWith('/profile')
      }"
    >
    </button>
  </div>
</div>
<alert></alert>